body {
	/* background: url(http://www.inkspilldesign.com/demo/wood-tile-background.jpg); */
	/* background-color: #424242; */
	font-family: gilroy;
	background-color:#222;
	/* background-image: url("Scooter.jpg"); */
}

.textview{
  display: inline-block;
	margin: 2px;
	width: 198px;
	height: 29px;
	font-size: 20px;
    font-weight: bold;
    background-color: rgba(245, 242, 237, 0.589);
	/* background:none */
	/* border-radius: 10px; */
	border: none;
}




.equalButton {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height:91px;
    outline: none;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
  
}

.button {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
  
}

.button:active, .allclearButton:active,.equalButton:active{
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }



.button:hover,.equalButton:hover {
	background-color: #297fe0;
	box-shadow: 0px 0px 2px #297fe0, inset 0px -20px 1px #297fe0;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #1b62b4;
	border-left: 2px solid #0e59af;
}

.allclearButton {
  border-radius: 10px;
	color: #FFF;
    margin: 2px;
	width: 42px;
	height: 42px;
	text-shadow: -1px -1px 0px #44006F;
	background-color: #D20000;
	border-top: 2px solid #FF8484;
	border-right: 2px solid #FF8484;
	border-bottom: 2px solid #800000;
	border-left: 2px solid #800000;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #B00000;
	outline: none;
}

h1{
	color:#a5b5d1;
	font-size: 52px;
    text-justify: newspaper;
    text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;

}
.container{
		background: rgba(146, 142, 142, 0.589);
		/* background-size: 100px 80px; */
		background-size: cover;
		position:absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%)
}


      
